  <div class="accordion-item">

    <h2 class="accordion-header" id="flush-ID1<%=sup.id%>">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-ID2<%=sup.id%>" aria-expanded="false" aria-controls="flush-ID2<%=sup.id%>">
        <span style="font-weight:bolder"> 
          <%= sup.name %> <%= sup.lastName %>
        </span> 
      </button>
    </h2>


    <div id="flush-ID2<%=sup.id%>" class="accordion-collapse collapse" aria-labelledby="flush-ID1<%=sup.id%>" data-bs-parent="#accordionLista">
      <div class="accordion-body">
          <table class="table table-striped" style="max-width:600px;">
                <tbody>
                    <tr>
                        <td><b> <%= "Nombre" %></b> </td>
                        <td><%= "#{sup.name}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Apellido" %></b> </td>
                        <td><%= "#{sup.lastName}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Email" %></b> </td>
                        <td><%= "#{sup.email}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Documento" %></b> </td>
                        <td><%= "#{sup.document}" %></td> 
                    </tr>
                </tbody>
          </table>       
          <p>

          <table> 
            <tr>
              <td>
                <!-- Button trigger modal editar-->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%=sup.id%><%=sup.id%>">
                                    Editar Supervisor
                </button>
                &nbsp;         
              </td>
              <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%=sup.id%>">
                                    Eliminar Supervisor
                </button>
              </td>
            </tr>
          </table>

          </p>  

                    
        </div>   

      </div>
  </div>



                <!-- Modal -->
                <div class="modal fade" id="exampleModal<%=sup.id%>" tabindex="-1" aria-labelledby="exampleModalLabel<%=sup.id%>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel<%=sup.id%>"><b>Eliminar Supervisor</b></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      
                      <div class="modal-body">

                              <div style="margin-left:5px; margin-top:5px;">

                                <p><b> Contraseña Admin </b><br/>
                                <form class="form-inline my-2 my-lg-0" action="/supervisors/delete">
                                      <input class="form-control mr-sm-2" name="q_id" type="hidden" placeholder="" value="<%= sup.id %>", aria-label="Eliminar Supervisor">
                                      <input class="form-control mr-sm-2" name="q_pass" type="password" placeholder="" required='true', aria-label="Eliminar Supervisor 2">

                              </div>
                                     
                      </div>
                      <div class="modal-footer">

                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <button class="btn btn-danger" type="submit"> Eliminar Supervisor </button> 
                        </form>

                      </div>
                    </div>
                  </div>
                </div>


                <!-- Modal Editar supervisor -->
                <div class="modal fade" id="exampleModal<%=sup.id%><%=sup.id%>" tabindex="-1" aria-labelledby="exampleModalLabel<%=sup.id%><%=sup.id%>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel<%=sup.id%><%=sup.id%>"><b>Editar Supervisor</b></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      
                      <div class="modal-body">

                              <div style="margin-left:50px; margin-top:15px;">

                                <%= form_with model: sup do |form| %>

                                  <%= render partial: 'users/errors_user', locals:{user: sup} %> 

                                  <div>
                                       <p><b><%= form.label "E-Mail", style: "display: block"%></b>
                                       <%= form.text_field :email, :required => true, placeholder: "ejemplo@gmail.com" %></p>
                                    </div>

                                      <div>
                                         <p><b><%= form.label "Nombre", style: "display: block"%></b>
                                         <%= form.text_field :name, :required => true, placeholder: "Nombre" %></p>
                                      </div>
                                      <div>
                                         <p><b><%= form.label "Apellido", style: "display: block"%></b>
                                         <%= form.text_field :lastName, :required => true, placeholder: "Apellido" %></p>
                                      </div>
                                      <div>
                                         <p><b><%= form.label "Documento", style: "display: block"%></b>
                                         <%= form.number_field :document, :required => true, placeholder: "12345678" %></p>
                                      </div>

                                    <p><p>

                                          <div class="field">
                                            <p><b><%= form.label "Contraseña Admin" %><br/></b>
                                            <%= form.password_field :q_pass, :required => true %></p>
                                          </div>

                              </div>
                                     
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                        <%= form.button "Confirmar Cambios" , type: "submit", :class=> "btn btn-primary" %>

                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>                









