  <div class="accordion-item">

    <h2 class="accordion-header" id="flush-ID1<%=car.id%>">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-ID2<%=car.id%>" aria-expanded="false" aria-controls="flush-ID2<%=car.id%>">
        <span style="font-weight:bolder"> 
          <%= car.brand + '  ' + car.model + " " %> 
        </span> 
      </button>
    </h2>


    <div id="flush-ID2<%=car.id%>" class="accordion-collapse collapse" aria-labelledby="flush-ID1<%=car.id%>" data-bs-parent="#accordionLista">
      <div class="accordion-body">

          <% if File.exists?("#{Rails.root}/app/assets/images#{car.img_url}") %>
              <div class="clearfix">
              <img src="/assets<%= car.img_url %>" alt="" style="max-width:600px;" > </p>
          <% else %>             
              <div class="clearfix">
              <img src="/assets/autos/notfound.jpg" alt="" style="max-width:600px;" > </p>
          <% end %>

          <table class="table table-striped" style="max-width:600px;">
                <thead>
                    <tr>
                        <%# th colspan="2">Detalles</th> <%>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b> <%= "Distancia (Aprox.)" %></b></td>

                        <td>

                        <%# Solo calcula la distancia si se tiene la posicion del usuario <%>
                        <% if (current_user.coords_x && current_user.coords_y) %>

                            <%= distancia(car.coords_x,car.coords_y,current_user.coords_x,current_user.coords_y).round %> <%= " Metros" %>

                        <% end %> 
                       </td> 

                        
                    </tr>
                    <tr>
                        <td><b> <%= "Color" %></b> </td>
                        <td><%= "#{car.color}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Transmision" %></b> </td>
                        <td><%= "#{car.transmission}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Puertas" %></b> </td>
                        <td><%= "#{car.doors}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Asientos" %></b> </td>
                        <td><%= "#{car.seats}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Combustible" %></b> </td>
                        <td><%= "#{car.fuel} litros" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Patente" %></b> </td>
                        <td><%= "#{car.license}" %></td> 
                    </tr>

                    <% if current_user.supervisor? %>
                      <tr>
                        <td><b> <%= "Estado" %></b> </td>
                        <% case car.state %>
                            <% when 'ready' %> 
                              <td><%= "Disponible" %></td> 
                            <% when 'rented' %>                         
                              <td><%= "En uso" %></td> 
                            <% when 'blocked' %>                           
                              <td><%= "Bloqueado" %></td> 
                            <% else %>
                              <td><%= car.state %></td> 
                            <% end %>                     
                      </tr>
                    <% end %>

                </tbody>
          </table>       
          <p>
            <% if car.description != "" %>
              <%= "#{car.description}" %>
            <% end %>
          </p>


          <p>
            <% if current_user.driver? %>
              <%= link_to "Alquilar Auto", new_car_rental_path(car), class:"btn btn-primary" %>
            <% end %>

            <% if current_user.supervisor? || current_user.admin? %>

              <% if car.ready? %>
                  <%= form_with model: car do |form| %>
                      <%= form.hidden_field :state, :value => :blocked %>
                      <%= form.button "Bloquear Auto" , type: "submit", :class=> "btn btn-danger" %>
                  <% end %>
              <% end %>

              <% if car.blocked? %>
                  <%= form_with model: car do |form| %>
                      <%= form.hidden_field :state, :value => :ready %>
                      <%= form.button "Desbloquear Auto" , type: "submit", :class=> "btn btn-primary" %>
                  <% end %>  
              <% end %>
            <% end %>
          </p>  

                    
        </div>   

      </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleID1<%=car.id%>" tabindex="-1" aria-labelledby="exampleModalLabelID2<%=car.id%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabelID2<%=car.id%>"><%= car.brand + " " + car.model%></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

        <%= link_to "Alquilar Auto", new_car_rental_path(car), class:"btn btn-primary" %> 

      </div>
    </div>
  </div>
</div>     