

<% if (current_user.coords_x && current_user.coords_y) %>

		<div id='map'></div>
		<script>
		  mapboxgl.accessToken = "<%= Rails.application.credentials.mapbox %>";
		  var map = new mapboxgl.Map({
		    container: 'map',
		    style: 'mapbox:///nico-map/cla8t5s8s004m15t3so6gnqt5',
		    center: [<%= current_user.coords_x %>, <%= current_user.coords_y %>],
		    zoom: 12
		  });

		  const marker1 = new mapboxgl.Marker({ color: 'black', rotation: 0, scale: 0.7 })
			.setLngLat([<%= current_user.coords_x %>, <%= current_user.coords_y %>])
			.setPopup(new mapboxgl.Popup().setHTML("<b><%= current_user.name %></b>"))
			.addTo(map);
		</script>

<% else %> 
<%# Si no tengo las coordenadas del usuario, grafico el mapa centrado en un punto predeterminado %>   

		<div id='map'></div>
		<script>
		  mapboxgl.accessToken = "<%= Rails.application.credentials.mapbox %>";
		  var map = new mapboxgl.Map({
		    container: 'map',
		    style: 'mapbox:///nico-map/cla8t5s8s004m15t3so6gnqt5',
		    center: [<%= -57.955452556184845 %>, <%= -34.92224309032785 %>],
		    zoom: 12
		  });
		</script> 

<% end %> 



<% @carsList.each do |car| %> 

			<% if car.ready? %>
				 	<script>
				  	const marker<%= car.license %> = new mapboxgl.Marker({ color: 'blue', rotation: 0, scale: 0.5 })
						.setLngLat([<%= car.coords_x %>, <%= car.coords_y %>])
						.setPopup(new mapboxgl.Popup().setHTML("<b> <%= car.brand %> <%= car.model %> - Disponible </b>"))
						.addTo(map);
					</script>
			<% end %>

			<% if car.blocked? %>
				 	<script>
				  	const marker<%= car.license %> = new mapboxgl.Marker({ color: 'red', rotation: 0, scale: 0.5 })
						.setLngLat([<%= car.coords_x %>, <%= car.coords_y %>])
						.setPopup(new mapboxgl.Popup().setHTML("<b> <%= car.brand %> <%= car.model %> - Bloqueado </b>"))
						.addTo(map);
					</script>
			<% end %>

			<% if car.rented? %>
				 	<script>
				  	const marker<%= car.license %> = new mapboxgl.Marker({ color: 'green', rotation: 0, scale: 0.5 })
						.setLngLat([<%= car.coords_x %>, <%= car.coords_y %>])
						.setPopup(new mapboxgl.Popup().setHTML("<b> <%= car.brand %> <%= car.model %> - En uso </b>"))
						.addTo(map);
					</script>
			<% end %>

<% end %> 