<head>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

</head>	

<body>	

<%# ======================================================================================================== %>
<%# ===================================== MAPA ============================================================= %>

<div id='map' style='width: 800px; height: 300px;'></div>
<script>
  mapboxgl.accessToken = "<%= Rails.application.credentials.mapbox %>";
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox:///nico-map/cla8t5s8s004m15t3so6gnqt5',
    center: [<%= current_user.coords_x %>, <%= current_user.coords_y %>],
    zoom: 13
  });

  const marker1 = new mapboxgl.Marker({ color: 'green', rotation: 0, scale: 0.7 })
	.setLngLat([<%= current_user.coords_x %>, <%= current_user.coords_y %>])
	.setPopup(new mapboxgl.Popup().setHTML("<b><%= current_user.name %></b>"))
	.addTo(map);
</script>


<% @carsDisponibles.each do |car| %> 
 	<script>
  	const marker<%= car.license %> = new mapboxgl.Marker({ color: 'red', rotation: 0, scale: 0.5 })
		.setLngLat([<%= car.coords_x %>, <%= car.coords_y %>])
		.setPopup(new mapboxgl.Popup().setHTML("<b> <%= car.brand %> <%= car.model %> </b>"))
		.addTo(map);
	</script>
<% end %>  



<%# ======================================================================================================== %>
<%# =============================== LISTA DE AUTOS ========================================================= %>

<p>
<%#> https://getbootstrap.com/docs/5.0/components/accordion/ <%>
<div class="accordion accordion-flush" id="accordionLista" >

<!-- De momento ordena por combustible -->
<% if @carsDisponibles.any? %> 

  <% @carsDisponibles.each do |car| %>
      <%= render partial: 'search/car_card', locals:{car: car} %>  
  <% end %>   

<% else %> 
        <img src="/assets/autos/empty.png" alt="" class="col-md-4">
<% end %>  
</div>	
</p>



<%# ======================================================================================================== %>
<%# ==================================GUARDAR COORDENADAS DEL USER ========================================= %>

    <%# Guardar coordenadas usuario %>
    <% if logged_in? %>
          <%= form_with url: locations_path, html: { id: "location-form" } do |f| %>
            <%= f.hidden_field :lat %>
            <%= f.hidden_field :lng %>
          <% end %>  

          <script>
            navigator.geolocation.getCurrentPosition((pos) => {
              document.querySelector("#lat").value = pos.coords.latitude;
              document.querySelector("#lng").value = pos.coords.longitude;
              document.querySelector("#location-form").requestSubmit();
            });
          </script>  

          <% if session[:lat] && session[:lng] %>
           <p>Tu ubicación:</p>
           <p><%= session[:lng] %>, <%= session[:lat] %></p>
           <%# Actualiza las coordenadas del usuario actual%>
           <% User.where(document: current_user.document).update(coords_x: session[:lng]) %>
           <% User.where(document: current_user.document).update(coords_y: session[:lat]) %>
          <% end %>        
    <% end %>
    <%# /Coordenadas %>


</body>	