<div id="<%= dom_id fine %>">

          <table class="table table-striped" style="max-width:600px;">
                <thead>
                    <tr>
                        <%# th colspan="2">Detalles</th> <%>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b> <%= "Monto:" %></b> </td>
                        <td><%= "#{fine.amount}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Motivo" %></b> </td>
                        <td><%= "#{fine.motive}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Fecha" %></b> </td>
                        <td><%= "#{fine.created_at.strftime('%Y-%m-%d %M:%S')}" %></td> 
                    </tr>
                </tbody>
          </table>  

</div>
