<div style="margin-left:50px; margin-top:15px;">

	<%= form_with model: user do |form| %>

		  <% if user.errors.any? %>
		    <div style="color: red">
		      <ul>
		        <% user.errors.each do |error| %>
		          <%# flash[:alert] = error.full_message %>
		          
		          <% if error.full_message == "Password confirmation doesn't match Password" %>
		            <div >
		             <p id="notice" class="alert alert-danger alert-dismissible fade show"> Las contrase単as no coinciden </p>
		            </div>
		          <% else %>
		             <% if error.full_message == "Email has already been taken" %>
		                <div >
		                 <p id="notice" class="alert alert-danger alert-dismissible fade show"> E-mail ya existe en el sistema </p>
		                </div>
		              <% else %>    
		                  <% if error.full_message == "Document has already been taken" %>
		                    <div >
		                     <p id="notice" class="alert alert-danger alert-dismissible fade show"> El DNI ya existe en el sistema </p>
		                    </div>
		                  <% else %>
			                  <% if error.full_message == "Password is too short (minimum is 3 characters)" %>
			                    <div >
			                     <p id="notice" class="alert alert-danger alert-dismissible fade show"> La contrase単a es muy corta (menos de 3 caracteres) </p>
			                    </div>
			                  <% else %>
			                    <div >
			                     <p id="notice" class="alert alert-danger alert-dismissible fade show"><%= error.full_message %></p>
			                    </div>
			                  <% end %>
		                  <% end %>
		              <% end %>
		          <% end %>

		        <% end %>
		      </ul>
		    </div>
		  <% end %>

		<div>
   			 <%= form.label "E-mail", style: "display: block"%>
   			 <%= form.text_field :email, :required => true, placeholder: "ejemplo@gmail.com" %>
  		</div>

		  <div class="field">
		    <%= form.label "Contrase単a" %><br />
		    <%= form.password_field :password, :required => true%>
		  </div>
		 
		  <div class="field">
		    <%= form.label "Confirmar contrase単a" %><br />
		    <%= form.password_field :password_confirmation, :required => true%>
		  </div>

  		<p><p>
  			<%= form.button "Actualizar Datos" , type: "submit", :class=> "btn btn-primary" %>
	<% end %>

</div>


