<div style="margin-left:50px; margin-top:15px;">

	<%= form_with model: user do |form| %>

		<%= render partial: 'users/errors_user', locals:{user: user} %> 

		<div>
   			 <p><b><%= form.label "E-mail", style: "display: block"%></b>
   			 <%= form.text_field :email, :required => true, placeholder: "ejemplo@gmail.com" %></p>
  		</div>

		  <div class="field">
		    <p><b><%= form.label "Contraseña" %><br /></b>
		    <%= form.password_field :password, :required => true%></p>
		  </div>
		 
		  <div class="field">
		    <p><b><%= form.label "Confirmar contraseña" %><br /></b>
		    <%= form.password_field :password_confirmation, :required => true%></p>
		  </div>

  		<p><p>
  			<%= form.button "Actualizar Datos" , type: "submit", :class=> "btn btn-primary" %>
	<% end %>

</div>


