
<div style="margin-left:50px;">

<%= form_with(model: user) do |form| %>

  <% if user.errors.any? %>
    <div style="color: red">
      <ul>
        <% user.errors.each do |error| %>
          <%# flash[:alert] = error.full_message %>
          <div >
           <p id="notice" class="alert alert-danger alert-dismissible fade show"><%= error.full_message %></p>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Para guardar la localizacion %>
  <script>
  navigator.geolocation.getCurrentPosition((pos) => {
    document.querySelector("#user_coords_x").value =
      `${pos.coords.longitude}`;
  });

  navigator.geolocation.getCurrentPosition((pos) => {
    document.querySelector("#user_coords_y").value =
      `${pos.coords.latitude}`;
  });
  </script>

  <%# Hidden fields %>
  <%= form.hidden_field :coords_y %>
  <%= form.hidden_field :coords_x %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, :required => true%>
  </div>

  <div class="field">
    <%= form.label :password %><br />
    <%= form.password_field :password, :required => true%>
  </div>
 
  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, :required => true%>
  </div>

  <div>
    <% form.label :rol, style: "display: block" %>
    <% form.number_field :rol %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :lastName, style: "display: block" %>
    <%= form.text_field :lastName %>
  </div>

  <div>
    <%= form.label :document, style: "display: block" %>
    <%= form.number_field :document, :required => true %>
  </div>

  <div>
    <% form.label :state, style: "display: block" %>
    <% form.number_field :state %>
  </div>

  <div>
    <% form.label :license_url, style: "display: block" %>
    <% form.text_field :license_url %>
  </div>

  <div>


    <p></p>
    <% if logged_in? %>
      <%= form.button "Actualizar Datos" , type: "submit", :class=> "btn btn-primary"%>
    <% else %>
      <%= form.button "Crear Cuenta" , type: "submit", :class=> "btn btn-primary"%>
    <% end %>

    <%#= form.submit %>

  </div>
<% end %>

</div>  