
<div style="margin-left:50px; margin-top:15px;">

<%= form_with(model: user) do |form| %>

  <% if user.errors.any? %>
    <div style="color: red">
      <ul>
        <% user.errors.each do |error| %>
          <%# flash[:alert] = error.full_message %>
          
          <% if error.full_message == "Password confirmation doesn't match Password" %>
            <div >
             <p id="notice" class="alert alert-danger alert-dismissible fade show"> Las contraseñas no coinciden </p>
            </div>
          <% else %>
             <% if error.full_message == "Email has already been taken" %>
                <div >
                 <p id="notice" class="alert alert-danger alert-dismissible fade show"> E-mail ya existe en el sistema </p>
                </div>
              <% else %>    
                  <% if error.full_message == "Document has already been taken" %>
                    <div >
                     <p id="notice" class="alert alert-danger alert-dismissible fade show"> El DNI ya existe en el sistema </p>
                    </div>
                  <% else %>
                    <div >
                     <p id="notice" class="alert alert-danger alert-dismissible fade show"><%= error.full_message %></p>
                    </div>
                  <% end %>
              <% end %>

          <% end %>



        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Para guardar la localizacion %>
  <script>
  navigator.geolocation.getCurrentPosition((pos) => {
    document.querySelector("#user_coords_x").value =
      `${pos.coords.longitude}`;
  });

  navigator.geolocation.getCurrentPosition((pos) => {
    document.querySelector("#user_coords_y").value =
      `${pos.coords.latitude}`;
  });
  </script>

  <%# Hidden fields %>
  <%= form.hidden_field :coords_y %>
  <%= form.hidden_field :coords_x %>

  <div>
    <%= form.label "E-mail", style: "display: block"%>
    <%= form.text_field :email, :required => true, placeholder: "ejemplo@gmail.com" %>
  </div>

  <div class="field">
    <%= form.label "Contraseña" %><br />
    <%= form.password_field :password, :required => true%>
  </div>
 
  <div class="field">
    <%= form.label "Confirmar contraseña" %><br />
    <%= form.password_field :password_confirmation, :required => true%>
  </div>

  <div>
    <% form.label :rol, style: "display: block" %>
    <% form.number_field :rol %>
  </div>

  <div>
    <%#= form.label :name, style: "display: block" %>
    <%= form.label "Nombre", style: "display: block" %>
    <%= form.text_field :name , placeholder: "Nombre" %>
  </div>

  <div>
    <%= form.label "Apellido", style: "display: block" %>
    <%= form.text_field :lastName , placeholder: "Apellido" %>
  </div>

  <div>
    <%= form.label "Documento", style: "display: block" %>
    <%= form.number_field :document, :required => true , placeholder: "12345678" %>
  </div>

  <div>
    <% form.label :state, style: "display: block" %>
    <% form.number_field :state %>
  </div>

  <div>
    <% form.label :license_url, style: "display: block" %>
    <% form.text_field :license_url %>
  </div>

  <div>
    <% form.label :license_photo, style: "display: block" %>
    <% form.file_field :license_photo %>
  </div>



  <div>


    <p></p>
    <% if logged_in? %>
      <%= form.button "Actualizar Datos" , type: "submit", :class=> "btn btn-primary"%>
    <% else %>
      <%= form.button "Crear Cuenta" , type: "submit", :class=> "btn btn-primary"%>
    <% end %>

    <%#= form.submit %>

  </div>
<% end %>

</div>  