<%= render @user %>

<div>
  <%= link_to "Editar" + (@user.id == current_user.id ? "Perfil" : "Usuario"), edit_user_path(@user) %>

  <%= link_to "" %>

  <% if !current_user.driver? %>
    <%= link_to "Ver Usuarios", users_path %>
  <% end %>

<% if @user.id != current_user.id && current_user.admin? %>
  <%= button_to "Eliminar Usuario", @user, method: :delete %>
<% end %>
</div>
