<div id="<%= dom_id rental %>">
    
    <% car = rental.car %>

          </p>
          <% if car.car_photo.attached? %>
            <%= image_tag car.car_photo, width: 600 %> 
          <% end %>
          
          <% if File.exists?("#{Rails.root}/app/assets/images#{car.img_url}") %>
              <img src="/assets<%= car.img_url %>" alt="" style="max-width:600px;" > </p>
          <% else %>             
              <img src="/assets/autos/notfound.jpg" alt="" style="max-width:600px;" > </p>
          <% end %>

          <table class="table table-striped" style="max-width:600px;">
                <thead>
                    <tr>
                        <%# th colspan="2">Detalles</th> <%>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b> <%= "Marca" %></b> </td>
                        <td><%= "#{car.model}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Modelo" %></b> </td>
                        <td><%= "#{car.brand}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Color" %></b> </td>
                        <td><%= "#{car.color}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Patente" %></b> </td>
                        <td><%= "#{car.license}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Combustible Inicial" %></b> </td>
                        <td><%= "#{rental.initial_fuel} litros" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Precio de Alquiler" %></b> </td>
                        <td><%= "$#{rental.price}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Horas Alquiladas" %></b> </td>
                        <td>  <%= rental.total_hours %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Expira" %></b> </td>
                        <td><%= rental.expires.strftime('%Y-%m-%d, a las %k:%M:%S') %></td> 
                    </tr>

                </tbody>
          </table>       
          
            <% if car.description != "" %>
              <p>
                <%= "#{car.description}" %>
              </p>
            <% end %>

            <% if Time.now < rental.created_at + 10.minutes %>
              <div style="margin-left:15px; margin-top:15px;">
                 <b><i>* Finalizar el alquiler dentro de los primeros 10 minutos te devuelve el dinero.</i></b>
                 <b><i>  (Siempre y cuando el motor no haya sido encendido)</i></b>
              </div>
            <% end %>
   
</div>