


<%= render @rental %>

<% if @rental.expired? %>
  <% time = 0 %>

<% else %>
  <% time = @rent_time %>
<% end %>


<div style="min-height:50px">
  <span> <%= render partial: 'rentals/timer', locals: { tiempo: time } %> </span>
</div>

<div>
  <% if !@rental.expired? %>
    <%= link_to "Extender Alquiler", edit_car_rental_path(@rental.car), class: "btn btn-primary", id: "extendRentBtn" %>
    <%= link_to "Finalizar Alquiler", cancel_rental_path, class: "btn btn-danger", id: "cancelRentBtn" %>
  <% end %>

  <%= link_to "Reportar", new_rental_report_path(@rental), class: "btn btn-warning", id: "reporttBtn" %>


  <% if current_user.admin? %>
    <%= button_to "Eliminar Alquiler", @rental, method: :delete, class: "btn btn-danger"  %>
  <% end %>
</div>

++++++++++++++  RENTAL  ++++++++++++++<br>
ID: <%= @rental.id %><br>
PRICE: <%= @rental.price %><br>
STATE: <%= @rental.state %><br>
EXPIRE: <%= @rental.expires %><br>
HORAS TOTALES: <%= @rental.total_hours %><br>

++++++++++++++  TIME  ++++++++++++++<br>

TIEMPO ACTUAL: <%= Time.now %><br>
TIEMPO EN SEG DEL ALQUILER: <%= time %><br>

++++++++++++++  CAR  ++++++++++++++<br>
<% car = @rental.car %>
ID: <%= car.id %><br>

