<p style="color: green"><%= notice %></p>

<%= render @rental %>

<div>
  <%= link_to "Extender Alquiler", edit_rental_path(@rental), class: "btn btn-primary" %>

  
  <%= link_to "cancelar alquiler", rentals_path, class: "btn btn-danger", onclick: "cancel_rent()" %>


<% if current_user.admin? %>
  <%= button_to "Destroy this rental", @rental, method: :delete %>
<% end %>

</div>
<script>
  function cancel_rent() {
      <% @rental.update_attribute :state, :expired %>
  }
</script>