<%= render @rental %>

<%# @tiempo = @rental.expires - Date.today %>
<%# Renderiza el partial del timer - enviando el tiempo en minutos %>
<%= render partial: 'rentals/timer', locals: { tiempo: ((@rental.expires - Time.now)/1.second).round } %>

<div>
  <% if !@rental.expired? %>
    <%= link_to "Extender Alquiler", edit_rental_path(@rental), class: "btn btn-primary" %>

    <%= link_to "Cancelar Alquiler", '', class: "btn btn-danger", id: "endRentBtn" %>

  <% else %>
    <%= link_to "Hacer un Reporte", new_report_path, class: "btn btn-warning" %>
  <% end %>

<% if current_user.admin? %>
  <%= button_to "Destroy this rental", @rental, method: :delete, class: "btn btn-danger"  %>
<% end %>

</div>

<p>  
  ESTADO: <%= @rental.state %><p> 
  ID: <%= @rental.id %><p> 
  BALANCE DE USUARI0: <%= @rental.user.balance %><p> 
  EXPIRA: <%= @rental.expires %><p> 
</p> 

<script>
  const diezMin = 10*60*1000
  const min = tiempo_Segundos/60
  const endRentBtn = $("#endRentBtn")

  endRentBtn.show()

  //si pasaron 10 minutos: true
  if (min > diezMin) {
    endRentBtn.val("Finalizar Alquiler")
  }

  if (tiempo_Segundos == 0) {
    endRentBtn.hide()
  }
</script>