<p style="color: green"><%= notice %></p>

<%= render @rental %>

<div>
  <%= link_to "Edit this rental", edit_rental_path(@rental) %> |
  <%= link_to "Back to rentals", rentals_path %>

<% if current_user.administrator? %>
  <%= button_to "Destroy this rental", @rental, method: :delete %>
<% end %>

</div>
