
<% if @rental.expired? %>
  <% time = 0 %>

<% else %>
  <% time = @time_left %>


  <div class="text-center">
    <p id="notice" class="alert alert-danger alert-dismissible fade show">
      Si ve algun desperfecto en el vehiculo por fovor reportarlo antes de los primeros 10 minutos, sino este se podra tomar como su responsabilidad!!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </p>
  </div>
<% end %>


<div style="min-height:50px">
  <h2><b><span> <%= render partial: 'rentals/timer', locals: { tiempo: time } %> </span></b></h2>
</div>

<%= render @rental %>

  <!--------------------------------------BOTONES---------------------------->
<div>
  <table class="table table-borderless" style="max-width:300px;">
    <tbody>
      <tr>
        <% if !@rental.expired? %>
          <td>
            <% if (@rent_time < 24 && current_user.balance >= Rental.states[:extended]) && !(Time.now > @rental.expires) %>  
                <%= link_to "Extender Alquiler", edit_car_rental_path(@rental.car), class: "btn btn-primary", id: "extendRentBtn" %>   
            <% else %> 
                <%= link_to "Extender Alquiler", edit_car_rental_path(@rental.car), class: "btn btn-info", id: "extendRentBtn"  %>
            <% end %>         
          </td>
          <td>
            <%= link_to "Finalizar Alquiler", cancel_rental_path, class: "btn btn-danger", id: "cancelRentBtn" %>                        
          </td> 
          <td>
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal<%=current_user.id%>">
                  Reportar
                </button>                                 
          </td>          
        <% else %>
          <td>
            <%= link_to "Volver a la lista de autos", "/search", class: "btn btn-primary", id: "reporttBtn" %>                        
          </td>

          <td>                        
            <%= link_to "Resume de pagos", rental_payments_path(@rental), class: "btn btn-success" %>
          </td>

          <td>                        
            <%= link_to "Mis Alquileres", rentals_path, class: "btn btn-primary" %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <% if current_user.admin? %>
    <%= button_to "Eliminar Alquiler", @rental, method: :delete, class: "btn btn-danger"  %>
  <% end %>
</div>





<!-------- MODAL REPORTE -------------------------->

<div class="modal fade" id="exampleModal<%=current_user.id%>" tabindex="-1" aria-labelledby="exampleModalLabel<%=current_user.id%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel<%=current_user.id%>"> <b>Enviar un reporte</b></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <%= render 'reports/form' %>
        <%#= render partial: 'reports/form' %>  
        <%#= render partial: 'search/map' %>  

      </div>
    </div>
  </div>
</div>