<p style="color: green"><%= notice %></p>

<%= render @rental %>

<%# Renderiza el partial del timer - enviando el tiempo en minutos %>
<%= render partial: 'rentals/timer', locals: { tiempo: ((@rental.expires - Time.now)/1.minute).round } %>

<div>
  <%= link_to "Extender Alquiler", edit_rental_path(@rental), class: "btn btn-primary" %>

  <button class="btn btn-danger", id="cancelRentBtn", onclick="cancel_rent()"> Cancelar Alquiler </button>

  <%= link_to "Fianlizar Alquiler", new_report_path, class: "btn btn-danger", id: "endRentBtn", onclick: "end_rent()" %>

  <%= link_to "Hacer un Reporte", new_report_path, class: "btn btn-warning", display: :none, id: "reportBtn", onclick: "report_rent()" %>

<% if current_user.admin? %>
  <%= button_to "Destroy this rental", @rental, method: :delete, class: "btn btn-danger"  %>
<% end %>

</div>

  <% @rental.update(state: :started) %>
  <% @rental.car.engine = false %>

  <%= @rental.user.balance %><br>
  <%= @rental.price %><br>




<script>
  const cancelRentBtn = $("#cancelRentBtn")
  const endRentBtn = $("#endRentBtn")
  const reportBtn = $("#reportBtn")

  reportBtn.hide()

  //si pasaron 10 minutos: true
  function TenMinPassed() {
    const diezMin = <%= 10.minutes %>
    return new Date().getTime() - <%= @rental.created_at.to_i %> > diezMin
  }

  //si pasaron los 10 minutos o encendio el auto cambia al boton de finalizar alquiler
  if ((TenMinPassed() || <%= !@rental.car.engine %>) && false) {
    cancelRentBtn.hide()
    endRentBtn.show()

  } else {
    cancelRentBtn.show()
    endRentBtn.hide()
  }

  // si el alquiler esta caduco oculta el boton
  if (<%= @rental.expired? %>) {
    endRentBtn.hide()
    cancelRentBtn.hide()
  } else {
    reportBtn.show()
  }

  //si se cancela o finaliza el alquiler, este expira y se devuelve el costo del mismo en el 1er caso
  function cancel_rent() {
    //si la renta no esta caduca
    if (<%= !@rental.expired? %>) {
      //si se esta cancelando el alquiler se devuelve el costo de este
      <% @rental.user.update_attribute :balance, @rental.user.balance + @rental.price %>
      //hace que el alquiler caduque y esconde el boton
      <% @rental.update_attribute :state, :expired %>
      endRentBtn.hide()
      reportBtn.show()
    }
  }
  
  //si se cancela o finaliza el alquiler, este expira y se devuelve el costo del mismo en el 1er caso
  function end_rent() {
    //si la renta no esta caduca
    if (<%= !@rental.expired? %>) {
      //hace que el alquiler caduque y esconde el boton
      <% @rental.update_attribute :state, :expired %>
      endRentBtn.hide()
      reportBtn.show()
    }
  }
</script>