<%= render @rental %>

<%# @tiempo = @rental.expires - Date.today %>
<%# Renderiza el partial del timer - enviando el tiempo en minutos %>
<%= render partial: 'rentals/timer', locals: { tiempo: ((@rental.expires - Time.now)/1.second).round } %>

<div>
  <%= link_to "Extender Alquiler", edit_rental_path, class: "btn btn-primary", id: "RentBtn" %>

  <%= link_to "Cancelar Alquiler", cancel_rental_path, class: "btn btn-danger", id: "endRentBtn" %>

  <%= link_to "Reportar", new_rental_report_path(@rental), class: "btn btn-warning", id: "RentBtn" %>

<% if current_user.admin? %>
  <%= button_to "Eliminar Alquiler", @rental, method: :delete, class: "btn btn-danger"  %>
<% end %>

</div>

<p>  
  ESTADO: <%= @rental.state %><p> 
  ID: <%= @rental.id %><p> 
  BALANCE DE USUARI0: <%= @rental.user.balance %><p> 
  EXPIRA: <%= @rental.expires %><p> 
</p> 


<script>
  let range = <%= ((@rental.expires - Time.now)/1.second).round %>
  const limit = range - 10*60*60
  actualizar_botones(range, limit)
</script>