<div id="<%= dom_id card %>">
  <p>
    <strong>Number:</strong>
    <%= card.number %>
  </p>

  <p>
    <strong>Expires:</strong>
    <%= card.expires %>
  </p>

  <p>
    <strong>Bank Name:</strong>
    <%= card.bankName %>
  </p>
  <!--
  <p>
    <strong>User:</strong>
    <%= card.user_id %>
  </p>
  -->
  <p>
    <strong>Balance:</strong>
    <%= card.balance %>
  </p>
</div>
