<div id="<%= dom_id card %>">
  <p>
    <h3>
      <span class="badge text-bg-light">
        <strong>Number:</strong>
        <%= card.number %>
      </span>
    </h3>
  </p>

  <p>
    <h3>
      <span class="badge text-bg-light">
        <strong>Expires:</strong>
        <%= card.expires %>
      </span>
    </h3>
  </p>

  <p>
    <h3>
      <span class="badge text-bg-light">
        <strong>Bank Name:</strong>
        <%= card.bankName %>
      </span>
    </h3>
  </p>

  <p>
    <h3>
      <span class="badge text-bg-light">
        <strong>Balance:</strong>
        <%= card.balance %>
      </span>
    </h3>
  </p>
</div>
