<%= form_with(model: card) do |form| %>
  <% if card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.number_field :number, length: {minimum:12, maximum:12} %>
  </div>

  <div>
    <%= form.label :expires, style: "display: block" %>
    <%= form.date_field :expires, value: Time.now %>
  </div>

  <div>
    <%= form.select(:bankName, options_for_select(Card.bankNames.keys, selected: Card.bankNames.keys.last), { include_blank: "Banco" }, { class: 'form-control select2', style: 'width: 100%;'}) %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
