  <div class="accordion-item">

    <h2 class="accordion-header" id="flush-ID1<%=driver.id%>">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-ID2<%=driver.id%>" aria-expanded="false" aria-controls="flush-ID2<%=driver.id%>">
        <span style="font-weight:bolder"> 

          <% if current_user.supervisor? %>
            <% if driver.suspended_driver? %>
           	<b style="color:red"> [Suspendido] </b>
            <% end %>

            <% if driver.driver? && driver.rentals.any? && !driver.rentals.last.expired? %>
            	<b style="color:green">[Alquiler Activo]</b> 
            <% end %>
          <% end %>

          <% if current_user.admin? %>
            <% if driver.balance < 0 %>
              <b style="color:red">[$<%= driver.balance %>]</b> 
            <% end %>
            <% if driver.balance >= 0 %>
              <b style="color:green">[$<%= driver.balance %>]</b> 
            <% end %>
          <% end %>
          <%= driver.name %> <%= driver.lastName %>

        </span> 
      </button>
    </h2>


    <div id="flush-ID2<%=driver.id%>" class="accordion-collapse collapse" aria-labelledby="flush-ID1<%=driver.id%>" data-bs-parent="#accordionLista">
      <div class="accordion-body">
          <table class="table table-striped" style="max-width:600px;">
                <tbody>
                    <tr>
                        <td><b> <%= "Nombre" %></b> </td>
                        <td><%= "#{driver.name}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Apellido" %></b> </td>
                        <td><%= "#{driver.lastName}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Documento" %></b> </td>
                        <td><%= "#{driver.document}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Email" %></b> </td>
                        <td><%= "#{driver.email}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Fecha de nacimiento:" %></b> </td>
                        <td><%= "#{driver.birthdate}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Nº Licencia:" %></b> </td>
                        <td><%= "#{driver.licenseNumber}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Vencimiento de licencia:" %></b> </td>
                        <td><%= "#{driver.licenseExpiration}" %></td> 
                    </tr>                   
                    <% if driver.driver? %>
                    	<tr>
	                        <td><b> <%= "Estado:" %></b> </td>
	                        <% case driver.state %>
	                        	<% when 'empty' %>                           
	                              <td><%= "Datos no enviados" %></td> 
	                            <% when 'admitted' %> 
	                              <td><%= "Habilitado" %></td> 
	                            <% when 'submitted' %>                         
	                              <td><%= "Verificación pendiente" %></td> 
	                            <% when 'rejected' %>                           
	                              <td><%= "Datos rechazados" %></td> 
	                            <% when 'expired' %>                           
	                              <td><%= "Licencia expirada" %></td> 
	                            <% else %>
	                              <td><%= driver.state %></td> 
	                            <% end %>  
	                    </tr>
	                <% else %>
	                	<tr>
		                    <td><b> <%= "Estado:" %></b> </td>
	                        <td><%= "Suspendido" %></td> 
	                    </tr>
	                    <tr>
	                        <td><b> <%= "Motivo:" %></b> </td>
	                        <td><%= driver.suspended_for %></td> 
	                    </tr>
	                    <tr>
	                        <td><b> <%= "Suspendido hasta:" %></b> </td>
	                        <td><%= driver.suspended_until %></td> 
	                    </tr>
	                <% end %>      

                    <tr>
                        <td><b> <%= "Balance" %></b> </td>
                        <td>$<%= "#{driver.balance}" %></td> 
                    </tr>                               
                    
                    <% if driver.driver? && driver.rentals.any? && !driver.rentals.last.expired? %>
                   		<tr>
	                        <td><b> <%= "Alquiler activo hasta: " %></b> </td>
	                        <td><%= driver.rentals.last.expires.strftime('%Y-%m-%e, a las %k:%M:%S') %></td> 
	                    </tr> 
                    <% end %>
                                       

                </tbody>
          </table>   

          <!-- Solo los supervisores pueden suspender usuarios -->
          <% if current_user.supervisor? %>
          	<!-- SI NO ESTA SUSPENDIDO, Y NO TIENE NIGUN AUTO EN ALQUILER -->
          	<% if (driver.driver?) && ((!driver.rentals.any?) || (driver.rentals.last.expired?)) %>
               <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%=driver.id%>">
                                Suspender Usuario
               </button>  
               <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal<%=driver.id%><%=driver.id%>">
                                Multar
               </button>
            <% else %>
            	<% if driver.suspended_driver? %>
	            	<%= form_with model: driver do |form| %>
	            		<%= form.hidden_field :rol, :value => :driver %>
	            		<%= form.hidden_field :suspended_until, :value => nil %>
	            		<%= form.button "Cancelar suspensión" , type: "submit", :class=> "btn btn-info" %>

                  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal<%=driver.id%><%=driver.id%>">
                                Multar
                  </button>
	            	<% end %> 
            	<% end %> 
            <% end %> 




          <% end %>      
        </div>   

      </div>
  </div>


                <!-- Modal SUSPENDED MOTIVE -->
                <%= form_with model: driver do |form| %>
                <div class="modal fade" id="exampleModal<%=driver.id%>" tabindex="-1" aria-labelledby="exampleModalLabel<%=driver.id%>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel<%=driver.id%>"><b>Suspender usuario</b></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      
                      <div class="modal-body">

                            <%= form.hidden_field :rol, :value => :suspended_driver %>
                            <%#= form.text_field :rejectedMessage, :required => true %>

                            <p><b><%= form.label "Suspender hasta:", style: "display: block"%></b>
                            <%= form.date_field :suspended_until, :required => true %></p>

                            <% if driver.licenseExpiration.present? && driver.licenseExpiration < Date.today %>
                              <%= form.hidden_field :state, :value => :expired %>
                              <%= form.hidden_field :licenseExpiration, :value => nil %>
                            <% end %>

                            <div class="mb-3">
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required="required" type="text" name="user[suspended_for]" id="user_suspended_for"></textarea>
                            </div>

                                      
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <%= form.button "Suspender Usuario" , type: "submit", :class=> "btn btn-danger" %>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %> 


                <% fine = Fine.new %>
                <!-- Modal MULTA -->
                <%= form_with(model: fine) do |form| %>
                <div class="modal fade" id="exampleModal<%=driver.id%><%=driver.id%>" tabindex="-1" aria-labelledby="exampleModalLabel<%=driver.id%><%=driver.id%>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel<%=driver.id%><%=driver.id%>"><b>Multar usuario</b></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      
                      <div class="modal-body">

                            <%= form.hidden_field :user_id, :value => driver.id %>

                            <p><b><%= form.label "Monto:", style: "display: block"%></b>
                            <%= form.number_field :amount, step: :any, :required => true %></p>



                            <b>Motivo:</b>
                            <div class="mb-3">
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required="required" type="text" name="fine[motive]" id="fine_motive"></textarea>
                            </div>

                                      
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <%= form.button "Confirmar Multa" , type: "submit", :class=> "btn btn-warning" %>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %> 