<div id="<%= dom_id car %>">
  <p>
    <strong>Modelo:</strong>
    <%= car.model %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= car.brand %>
  </p>

  <p>
    <strong>Licencia</strong>
    <%= car.license %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= car.color %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= car.img_url %>
  </p>

  <p>
    <strong>Puertas:</strong>
    <%= car.doors %>
  </p>

  <p>
    <strong>Seats:</strong>
    <%= car.seats %>
  </p>

  <p>
    <strong>Asientos:</strong>
    <%= car.state %>
  </p>

  <p>
    <strong>Motor:</strong>
    <%= car.engine %>
  </p>

  <p>
    <strong>Fuel:</strong>
    <%= car.fuel %>
  </p>

  <%# <p> %>
    <%# <strong>Position:</strong> %>
    <%# <%= car.position_id %> %>
  <%# </p> %>

  <% if car.car_photo.attached? %>
          <div>
            <%= image_tag car.car_photo, width: 295 if car.car_photo.attached? %> 
          </div>
  <% end %>

</div>
