
  <!-- ================================================================================= -->
  <!--                               FUERA DE USO                                        -->
  <!-- ================================================================================= -->

<!--
<div style="margin-left:25px; margin-top:10px;">

  <%= form_with(model: car) do |form| %>

    <div>
      <p><b><%= form.label :model, "Modelo", style: "display: block" %></b>
      <%= form.text_field :model, :required => true %></p>
    </div>

    <div>
      <p><b><%= form.label :brand, "Marca", style: "display: block" %></b>
      <%= form.text_field :brand, :required => true %></p>
    </div>

    <div>
      <p><b><%= form.label :license, "Patente", style: "display: block" %></b>
      <%= form.text_field :license, :required => true %></p>
    </div>

    <div>
      <p><b><%= form.label :color, "Color", style: "display: block" %></b>
      <%= form.text_field :color, :required => true %></p>
    </div>

    <div>
      <p><b><%= form.label "Foto", style: "display: block"%></b></b>
      <%= form.file_field :car_photo, :required => true %></p>
    </div>  

    <div>
      <p><b><%= form.label :doors, "Puertas", style: "display: block" %></b>
      <%= form.number_field :doors, :required => true, min:2, max:6, value:2 %></p>
    </div>

    <div>
      <p><b><%= form.label :seats, "Asientos", style: "display: block" %></b>
      <%= form.number_field :seats, :required => true, min:2, max:10, value:2 %></p>
    </div>

    <div>
      <p><b><%= form.label "Transmision", style: "display: block"%></b>
      <%= form.text_field :transmission, :required => true %></p>
    </div>  
    
    <%= form.hidden_field :state, :value => 'blocked' %>
    <%= form.hidden_field :engine, :value => false %>
    <%= form.hidden_field :fuel, :value => 10.0 %>
    <%= form.hidden_field :turn_on, :value => false %>

    <div>
      <%= form.hidden_field :coords_x, :value => -57.942948097923505.to_f %>
      <%= form.hidden_field :coords_y, :value => -34.90961858045628.to_f %>
    </div>

    <div class="text-end">
      <%= form.submit "Agregar", class:"btn btn-success"%>
    </div>

  <% end %>

</div>

-->