<div style="margin-left:30px; margin-top:15px;">

  <% @report = Report.new() %>

  <%= form_with(model: @report) do |form| %>
    <div>
        <p><b><%= form.label "Problema:", style: "display: block"%></b>
        <%= form.radio_button :state, :visual %> Daños menores/visuales. (rayaduras, manchas, abolladuras, etc)</p>
        <%= form.radio_button :state, :illegal %> El auto no está en condiciones para circular. (espejos/luces rotas, sin patente, etc)</p>
        <%= form.radio_button :state, :wontStart %> El auto no enciende / no funciona.</p>  
        <%= form.radio_button :state, :other %> Otro problema.</p>     
    </div>

     <%#= form.hidden_field :state, :value => :dented %>

    <div>
      <b> Descripción (Opcional)</b></p>
      <%= form.text_area :description %>
    </div>


    <%= form.hidden_field :car_id, :value => current_user.rentals.last.car %>
    <%= form.hidden_field :user_id, :value => current_user %>


<%# +++++++++++++++++++++++++++++++++ PASAR TODO AL CREATE +++++++++++++++++++++++++++++++++ %>
    <!--obtengo el alquiler actual-->
    <% rental = current_user.rentals.last %>
    <!--obtengo la anteultima renta del auto que se esta alquilando-->
    <% before_last_rent = rental.car.rentals.last(2).first %>
    <!--si parason 10 minutos y el alquiler actual no es igual al anteultimo alquiler (que sea el primer alquiler que se hace)-->
    <% if rental.tenMinutesPassed? && rental.car.turn_on && before_last_rent != rental %>
      <!--obtiene el usuario de la anteultima renta del auto de la renta actual (un quilombo)-->
      <!--es decir el ante-ultimo usuario que alquilo el auto-->
      <% guilty = before_last_rent.user %>

    <% else %>
      <% guilty = current_user %>
    <% end %>
    
    <%= form.hidden_field :guilty, :value => guilty %>

    <div>
    <p><b><%= form.label "Subir una foto (Opcional)", style: "display: block"%></b>
          <%= form.file_field :image %></p>
    </div>

    
    <div>
      <%#= form.button "Enviar Reporte" , type: "submit", :class=> "btn btn-primary" %>
    </div>


    <!-------- MODAL PIE -------------------------->
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      <%= form.button "Enviar Reporte" , type: "submit", :class=> "btn btn-primary" %>
    </div>    

  <% end %>

</div>

