<div style="margin-left:30px; margin-top:15px;">

  <% @report = Report.new() %>

  <%= form_with(model: @report) do |form| %>
    <div>
        <p><b><%= form.label "Problema:", style: "display: block"%></b>
        <%= form.radio_button :state, :visual %> Daños menores/visuales. (rayaduras, manchas, abolladuras, etc)</p>
        <%= form.radio_button :state, :illegal %> El auto no está en condiciones para circular. (espejos/luces rotas, sin patente, etc)</p>
        <%= form.radio_button :state, :wontStart %> El auto no enciende / no funciona.</p>  
        <%= form.radio_button :state, :other %> Otro problema.</p>     
    </div>

    <div>
      <b> Descripción (Opcional)</b></p>
      <%= form.text_area :description %>
    </div>


    <%= form.hidden_field :car_id, :value => current_user.rentals.last.car_id.to_i %>
    <%= form.hidden_field :user_id, :value => current_user.id.to_i %>
    <%= form.hidden_field :rental_start, :value => current_user.rentals.last.created_at %>
    <%= form.hidden_field :engine_turned_on, :value => false %>

    <% if Rental.where(car_id: current_user.rentals.last.car_id.to_i).where(state: 'expired').any? %>
      <%= form.hidden_field :last_user_id, :value => Rental.where(car_id: current_user.rentals.last.car_id.to_i).where(state: 'expired').last.user_id.to_i %>
    <% else %>
      <%= form.hidden_field :last_user_id, :value => -1 %>
    <% end %>

    <div>
    <p><b><%= form.label "Subir una foto (Opcional)", style: "display: block"%></b>
          <%= form.file_field :image %></p>
    </div>

    <!-------- MODAL PIE -------------------------->
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      <%= form.button "Enviar Reporte" , type: "submit", :class=> "btn btn-primary" %>
    </div>    

  <% end %>

</div>
