<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= form.label :state, style: "display: block" %>

  <%= form.radio_button :state, "dented" %>
  <%= form.label :state_dented, "The car has dents." %>

  <%= form.radio_button :state, "scratched" %>
  <%= form.label :state_scratched, "The car has scratches." %>
  
  <<%= form.radio_button :state, "wontStart" %>
  <%= form.label :state_wontStart, "The car won't start." %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
  <p>
    <%= form.label :user_id, style: "display: block" %>
    <% @report.user_id = current_user.id %>
    <%= current_user.id %>
    </p>
  </div>

  <div>
  <p>
    <%= form.label :car_id, style: "display: block" %>
    <% if current_user.rentals.any? %> 
    <% current_user.rentals.last.car_id %>
    <% else %>
    No rentals.
    <% end %>
    </p>
  </div>

  <div>
  <p>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
    </p>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>