<div id="<%= dom_id report %>">

          <table class="table table-striped" style="max-width:600px;">
                <thead>
                    <tr>
                        <%# th colspan="2">Detalles</th> <%>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b> <%= "Descripción:" %></b> </td>
                        <td><%= "#{report.description}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Conductor:" %></b> </td>
                        <td><%= "#{User.find(report.user_id).name} #{User.find(report.user_id).lastName}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Auto:" %></b> </td>
                        <td><%= "#{Car.find(report.car_id).brand} #{Car.find(report.car_id).model}" %></td> 
                    </tr>
                    <tr>
                        <td><b> <%= "Patente:" %></b> </td>
                        <td><%= "#{Car.find(report.car_id).license}" %></td> 
                    </tr>
                </tbody>
          </table>   

          <p>
               <%= image_tag report.image, width: 295 if report.image.attached? %> 
          </p>
</div>
