<% if !Report.any? %>
      <div >
        <p id="notice" class="alert alert-info alert-dismissible fade show"> 
          No hay reportes...   
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </p>
      </div>

<% else %>
  <h1><b><i>Reportes</i></b></h1>
  
<h2><b> El auto no enciende</b></h2>
 <div class="row">
  <div class="col" id="reports_wontStart">
    <% @reports.wontStart.each do |report| %>
      <%= render report %>

      <%= link_to "Ver Reporte", report_path(report), class: "btn btn-primary" %>
    <% end %>
  </div>

  <h3><b> El auto no puede circular</b></h3> 
  <div class="col" id="reports_illegal">
    <% @reports.illegal.each do |report| %>
      <%= render report %>
      <%= link_to "Ver Reporte", report_path(report), class: "btn btn-primary" %>
    <% end %>
  </div>


  <h4><b> El auto tiene daños menores</b></h4> 

    <div class="col" id="reports_visual">
    <% @reports.visual.each do |report| %>
      <%= render report %>
      <%= link_to "Ver Reporte", report_path(report), class: "btn btn-primary" %>
    <% end %>

  </div>
  <h5><b> El auto tiene otros problemas</b></h5> 

  <div class="col" id="reports_other">
    <% @reports.other.each do |report| %>
      <%= render report %>
      <%= link_to "Ver Reporte", report_path(report), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<% end %>